@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto+Condensed:wght@700&display=swap');

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Header {
  display: flex;
  height: 120px;
  background-color: rgb(10, 31, 10);
  align-items: center;
  justify-content: center;
  color: rgb(235, 235, 226);
  border-bottom: 7px solid rgb(83, 83, 61);
  border-bottom: 7px solid black;
}

h1 {
  font-weight:400;
  font-size: 35px;
  margin: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PlayerPanel {
  display: flex;
  background-color: rgb(65, 2, 2);
  background-color: rgb(23, 14, 13);
  
  justify-content: center;
  border-bottom: 7px solid rgb(83, 83, 61);
  border-bottom: 7px solid black;

  
}

table {
  
  border-collapse: separate;
  /* background-color: rgb(231, 229, 229); */
  color: rgb(214, 214, 208);
  font-size:18px;
  /* border: 1px solid rgb(66, 68, 68); 
  border-spacing: 0;
  border-radius: 10px;  */
  margin: 8px;
}

thead {
  font-weight: inherit;
  text-align: left;
}

th {
  text-align: center;
  padding: 7px 20px;
}

td {
  text-align: center;

  /* font-weight: bold; */
  color: white;
  /* color: rgb(216, 144, 10) */
  padding: 0 20px;
}
